ultralytics==8.3.0
torch==2.2.2
torchvision==0.17.2
opencv-python==4.10.0.84
paddleocr==2.7.3
paddlepaddle==2.6.1
numpy==1.26.4
pandas==2.2.2
streamlit==1.37.0
kagglehub==0.2.9
roboflow==1.1.48
pyyaml
tqdm
